.device_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 6px;
  padding: 1rem;
}

.device_card_header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.device_card_header h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.device_card_header_health{
  margin-left: auto;
}

.device_card_header_state {
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.device_card_header_enabled {
  color: green;
}

.device_card_header_disabled {
  color: var(--primary-color);
}

.devices_card_values { 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.devices_card_values_title { 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.devices_card_values p {
  display: flex;
  gap: 0.5rem;
}