.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  padding: 1.5rem 1rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 6px;
  box-shadow: var(--box-shadow) var(--box-shadow-color);
}

.card_header {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}

.card_title_link:hover {
  text-decoration: underline;
}

.card_header_actions {
  display: flex;
  gap: 0.5rem;
}

.card_header_actions span {
  padding: 0.2rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_header_actions span:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
}