.card_container {
  display: grid;
  gap: 24px;
}

@media screen and (min-width: 680px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 1080px) {
  .card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

