:root{
  --primary-color: #000;
  --secondary-color: #212112;
  
  --primary-bg-color: #fff;
  --secondary-bg-color: #d6d6d8;
  
  --box-shadow-color: #ececec;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.dark-theme {
  --primary-color: #fff;
  --secondary-color: #e2e2e2;
  
  --primary-bg-color: #202022;
  --secondary-bg-color: #4f4f51;

  --box-shadow-color: #303030;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  padding: 0 2rem;
}