.navbar {
  display: grid;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-bg-color);
  row-gap: 16px;
}

@media screen and (min-width: 640px) {
  .navbar {
    grid-template-columns: auto 1fr;
  }
}

.brand {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding-inline: 2rem;
}

.nav {
  flex: 1;
}

.navigation {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  justify-items: center;
}

@media screen and (min-width: 640px) {
  .navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

.navigation_item a {
  color: var(--secondary-color);
}

.navigation_item a:hover {
  color: var(--primary-color);
  text-decoration:underline;
}
